@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
/** COMPONENTS **/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  cursor: default;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: none;
  color: #D2AE6C;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f5ff;
  position: relative;
}

.page-space {
  padding-left: 220px;
  padding-right: 220px;
}

.separator {
  width: 100%;
  height: 15px;
  background: #3D53A4;
  position: relative;
}

.separator::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #3D53A4;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.9em;
}

/** NAVBAR **/
nav {
  background: #0f1118;
  width: 100vw;
  height: 100px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
nav .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}
nav .hamRotate.active {
  transform: rotate(45deg);
}
nav .hamRotate180.active {
  transform: rotate(180deg);
}
nav .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #D2AE6C;
  stroke-width: 5.5;
  stroke-linecap: round;
  cursor: pointer;
}
nav .ham8 .top {
  stroke-dasharray: 40 160;
}
nav .ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
nav .ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
nav .ham8.active .top {
  stroke-dashoffset: -64px;
}
nav .ham8.active .middle {
  transform: rotate(90deg);
}
nav .ham8.active .bottom {
  stroke-dashoffset: -64px;
}
nav .logo {
  cursor: pointer;
}
nav ul {
  list-style: none;
}
nav ul li {
  color: #f2f5ff;
  font-size: 1.125em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  display: inline-block;
  margin: 1.1em;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
}
nav ul li.active {
  color: #D2AE6C;
}
nav ul li.active::after {
  content: "";
  height: 2px;
  width: 50px;
  background: #D2AE6C;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.5em;
  transition: 0.25s;
}
nav ul li.active:hover::after {
  width: 100%;
}
nav ul li:hover {
  color: #D2AE6C;
}
nav ul li:last-of-type {
  padding: 0.3em 0.5em;
  margin-right: 0;
  border: 2px solid #f2f5ff;
}
nav ul li:last-of-type:hover {
  background: #D2AE6C;
  border: 2px solid #D2AE6C;
  color: #0f1118;
}

/** HEADER **/
header {
  width: 100%;
  height: 540px;
  background: linear-gradient(180deg, #0F1118 16.67%, rgba(16, 17, 24, 0.41) 100%), linear-gradient(90deg, rgba(61, 83, 164, 0.6) 0%, rgba(210, 174, 108, 0.6) 100.15%, rgba(255, 255, 255, 0) 100.16%, rgba(210, 174, 108, 0.6) 100.16%), url(../media/header-background.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .main-content h1 {
  color: #f2f5ff;
  font-size: 2.5em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  width: 695px;
  line-height: 43px;
  text-align: justify;
  letter-spacing: -0.03em;
}
header .main-content h1 span {
  color: #D2AE6C;
}
header .main-content button {
  width: 150px;
  height: 55px;
  background: #3D53A4;
  filter: drop-shadow(0px 0px 15px rgba(61, 83, 164, 0.5));
  margin-top: 3em;
  color: #f2f5ff;
  font-size: 1.125em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}
header .main-content button:focus {
  outline: none;
}
header .main-content button:hover {
  background: #f2f5ff;
  filter: drop-shadow(0px 0px 15px rgba(242, 245, 255, 0.5));
  color: #3D53A4;
}
header .side-content {
  width: 425px;
  height: 460px;
  background: #f2f5ff;
  border-radius: 5px;
  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.1);
  margin-top: 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 3em;
}
header .side-content .element {
  width: 320px;
  height: 70px;
  border: 2px solid #3D53A4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .side-content .element h2 {
  color: #3D53A4;
  font-size: 1.875em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  line-height: 30px;
}
header .side-content .element h3 {
  color: #B6BAC6;
  font-size: 1.2em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  line-height: 23px;
}

/** WHO ARE WE **/
#who-are-we {
  width: 100%;
  height: 370px;
  background: #f2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#who-are-we h2 {
  color: #B6BAC6;
  font-size: 3.75em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em;
  position: relative;
}
#who-are-we h2 span {
  color: #D2AE6C;
}
#who-are-we h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background: #B6BAC6;
  position: absolute;
  left: 0;
  bottom: -0.1em;
}
#who-are-we div {
  display: flex;
  align-items: center;
  margin: 3em 3em 3em 0;
}
#who-are-we div p {
  color: #0f1118;
  font-size: 1.875em;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  letter-spacing: -0.03em;
  width: 1112px;
  margin-left: 1.5em;
  line-height: 100%;
}

/** OUR MISSION **/
#our-mission {
  width: 100%;
  height: 500px;
  background: #E8EBF3;
  display: flex;
  justify-content: center;
  position: relative;
}
#our-mission div {
  margin: 6.5em 20em 0 10em;
  display: flex;
  flex-direction: column;
}
#our-mission div h2 {
  color: #B6BAC6;
  font-size: 3.75em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em;
  position: relative;
  text-align: center;
}
#our-mission div h2 span {
  color: #D2AE6C;
}
#our-mission div h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background: #B6BAC6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.1em;
}
#our-mission div p {
  color: #0f1118;
  font-size: 1.875em;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  letter-spacing: -0.03em;
  text-align: justify;
  line-height: 100%;
  width: 500px;
  margin-top: 1em;
}
#our-mission div ul {
  color: #0f1118;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 100%;
  font-size: 1.875em;
  margin-top: 1em;
}
#our-mission div:first-of-type::after {
  content: "";
  background: #B6BAC6;
  width: 3px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/** SHOCASE **/
#showcase {
  width: 100%;
  height: 800px;
  background: #3D53A4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#showcase video {
  border-radius: 112px;
}

/** WHAT WE DO **/
#what-we-do {
  width: 100%;
  height: 300px;
  background: #f2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#what-we-do h2 {
  color: #B6BAC6;
  font-size: 3.75em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em;
  position: relative;
  text-align: center;
}
#what-we-do h2 span {
  color: #3D53A4;
}
#what-we-do h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background: #B6BAC6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.1em;
}
#what-we-do p {
  color: #0f1118;
  font-size: 1.875em;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  letter-spacing: -0.03em;
  text-align: center;
  line-height: 100%;
  width: 1200px;
  margin-top: 1em;
}

/** WHAT IS KEEPING IT 100 **/
#what-is-keeping-it-100 {
  width: 100%;
  height: 800px;
  background: #E8EBF3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#what-is-keeping-it-100 h2 {
  color: #B6BAC6;
  font-size: 3.75em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em;
  position: relative;
  text-align: center;
  width: 989px;
  line-height: 100%;
}
#what-is-keeping-it-100 h2 span {
  color: #D2AE6C;
}
#what-is-keeping-it-100 h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background: #B6BAC6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.5em;
}
#what-is-keeping-it-100 ul {
  margin-top: 3em;
  list-style: none;
}
#what-is-keeping-it-100 ul li {
  position: relative;
  margin: 1em;
  padding-left: 3em;
  color: #0f1118;
  font-size: 1.875em;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 100%;
  width: 1200px;
}
#what-is-keeping-it-100 ul li::before {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  background-image: url("../media/checkmark.png");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#what-is-keeping-it-100 ul li:last-of-type {
  margin-top: 3em;
}
#what-is-keeping-it-100 ul li:last-of-type::before {
  background-image: url("../media/quote.png");
  background-size: cover;
  background-position: center;
  width: 28px;
  height: 23px;
  top: 0.45em;
}

#why-brands-and-influencers-love-to-partner-with-us {
  width: 100%;
  height: 600px;
  background: #f2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#why-brands-and-influencers-love-to-partner-with-us h2 {
  color: #B6BAC6;
  font-size: 3.75em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em;
  position: relative;
  text-align: center;
  width: 989px;
  line-height: 100%;
}
#why-brands-and-influencers-love-to-partner-with-us h2 span {
  color: #D2AE6C;
}
#why-brands-and-influencers-love-to-partner-with-us h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background: #B6BAC6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.5em;
}
#why-brands-and-influencers-love-to-partner-with-us p {
  color: #0f1118;
  font-size: 1.875em;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  letter-spacing: -0.03em;
  text-align: center;
  line-height: 100%;
  width: 1200px;
  margin-top: 2.5em;
}
#why-brands-and-influencers-love-to-partner-with-us p strong {
  font-weight: bold;
  font-size: 2.1875rem;
}
#why-brands-and-influencers-love-to-partner-with-us img {
  margin-top: 2em;
  cursor: pointer;
  animation: arrowDown 3s ease-in-out infinite;
}

#client-results {
  width: 100%;
  height: 700px;
  background: linear-gradient(180deg, rgba(210, 174, 108, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #0F1118;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#client-results h2 {
  color: #B6BAC6;
  font-size: 3.75em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em;
  position: relative;
  text-align: center;
  width: 989px;
  line-height: 100%;
}
#client-results h2 span {
  color: #D2AE6C;
}
#client-results h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background: #B6BAC6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.5em;
}
#client-results div {
  width: 900px;
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
#client-results div .slide {
  width: 270px;
  height: 270px;
  filter: brightness(0.4);
  cursor: pointer;
  margin-top: 0;
  position: relative;
}
#client-results div .slide.active {
  width: 300px;
  height: 300px;
  filter: none;
  position: relative;
  transition: filter 0.8s ease;
  cursor: pointer;
}
#client-results div .slide.hidden {
  display: none;
}
#client-results div .slide:hover::after {
  background: #D2AE6C;
  opacity: 0.7;
}
#client-results div .slide:hover::before {
  content: "VIEW CASE STUDY";
}
#client-results div .slide::after {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  transition: 0.5s;
  content: "";
}
#client-results div .slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f1118;
  font-weight: bold;
  font-family: "Tajawal", sans-serif;
  font-size: 1.875em;
  pointer-events: none;
  letter-spacing: -0.03em;
}
#client-results div img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#client-results div #slider-previous {
  width: 270px;
  height: 270px;
  position: absolute;
  display: flex;
  align-items: center;
}
#client-results div #slider-previous img {
  width: 10.25px;
  height: 20.5px;
  filter: none;
  transform: rotate(-180deg);
  margin-left: 1em;
  cursor: pointer;
  transition: 0.4s;
}
#client-results div #slider-previous img:hover {
  filter: brightness(2);
}
#client-results div #slider-next {
  width: 270px;
  height: 270px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#client-results div #slider-next img {
  width: 10.25px;
  height: 20.5px;
  filter: none;
  margin-right: 1em;
  cursor: pointer;
  transition: 0.4s;
}
#client-results div #slider-next img:hover {
  filter: brightness(2);
}
#client-results button {
  width: 368px;
  height: 83px;
  background: none;
  border: 2px solid #D2AE6C;
  margin-top: 3em;
  color: #f2f5ff;
  font-size: 1.875rem;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: -0.03em;
  cursor: pointer;
  transition: 0.4s;
}
#client-results button:focus {
  outline: none;
}
#client-results button:hover {
  color: #D2AE6C;
}

#our-industries {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  background: #E8EBF3;
}
#our-industries h2 {
  color: #B6BAC6;
  font-size: 3.75em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em;
  position: relative;
  text-align: center;
  width: 989px;
  line-height: 100%;
}
#our-industries h2 span {
  color: #3D53A4;
}
#our-industries h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background: #B6BAC6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.5em;
}
#our-industries .industry {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100%;
  display: flex;
  align-items: flex-start;
  overflow-x: hidden;
}
#our-industries .industry div {
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0;
}
#our-industries .industry div h3 {
  font-size: 12.5em;
  color: #B6BAC6;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em;
  line-height: 100%;
}
#our-industries .industry div h4 {
  color: #3D53A4;
  font-size: 3.75em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em;
  line-height: 100%;
}
#our-industries .industry div.left {
  margin-left: -2em;
  margin-right: 2em;
}
#our-industries .industry div.left h4 {
  margin-left: 0.5rem;
}
#our-industries .industry div.right {
  margin-left: 3em;
  margin-right: -1em;
  justify-content: flex-end;
}
#our-industries .industry div.right h4 {
  margin-right: 0.5rem;
}
#our-industries .industry .video {
  width: 556px;
  height: 634px;
  position: relative;
  margin-left: 3em;
}
#our-industries .industry .video video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#our-industries .industry .video video.paused {
  filter: brightness(0.4);
}
#our-industries .industry .video img {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  filter: drop-shadow(0px 0px 12px rgba(61, 83, 164, 0.5));
  cursor: pointer;
}
#our-industries .industry:first-of-type {
  margin-top: 10em;
}
#our-industries .industry.right {
  justify-content: flex-end;
}
#our-industries .industry:last-of-type {
  margin-bottom: 5em;
}

#testimonials {
  width: 100%;
  height: 800px;
  background: #f2f5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#testimonials h2 {
  color: #D2AE6C;
  font-size: 3.75em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em;
  position: relative;
  text-align: center;
  width: 989px;
  line-height: 100%;
}
#testimonials h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background: #B6BAC6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.5em;
}
#testimonials div:not(.video) {
  margin-top: 5em;
  display: flex;
}
#testimonials div:not(.video) .video {
  width: 380px;
  height: 530px;
  margin: 0 1.5em;
  position: relative;
}
#testimonials div:not(.video) .video video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#testimonials div:not(.video) .video video.paused {
  filter: brightness(0.4);
}
#testimonials div:not(.video) .video img {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  filter: drop-shadow(0px 0px 12px rgba(210, 174, 108, 0.5));
  cursor: pointer;
}

#contact {
  width: 100%;
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.42) 0%, #0F1118 90.88%), linear-gradient(90deg, rgba(61, 83, 164, 0.3) 0%, rgba(210, 174, 108, 0.3) 100%), url("../media/contact-bg.png"), #0F1118;
  background-size: cover;
}
#contact h2 {
  color: #B6BAC6;
  font-size: 3.75em;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em;
  position: relative;
  text-align: center;
  width: 989px;
  line-height: 100%;
}
#contact h2 span {
  color: #D2AE6C;
}
#contact h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background: #B6BAC6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.5em;
}
#contact form {
  margin-top: 3em;
  width: 1000px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact form div {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
#contact form div input {
  width: 480px;
  height: 100px;
  background: none;
  border: 3px solid #D2AE6C;
  backdrop-filter: blur(15px);
  color: #f2f5ff;
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-size: 1.875em;
  line-height: 100%;
  letter-spacing: -0.03em;
  padding: 0 1em;
  cursor: text;
}
#contact form div input:focus {
  outline: none;
}
#contact form div input::placeholder {
  color: #B6BAC6;
}
#contact form textarea {
  margin-top: 1em;
  width: 996px;
  height: 250px;
  background: none;
  border: 3px solid #D2AE6C;
  backdrop-filter: blur(15px);
  color: #f2f5ff;
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-size: 1.875em;
  line-height: 100%;
  letter-spacing: -0.03em;
  padding: 1em;
  resize: none;
  cursor: text;
}
#contact form textarea:focus {
  outline: none;
}
#contact form textarea::placeholder {
  color: #B6BAC6;
}
#contact form #contact-send {
  margin-top: 3em;
  width: 450px;
  height: 100px;
  background: #D2AE6C;
  color: #f2f5ff;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  font-size: 1.875em;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}
#contact form #contact-send:hover {
  background: #f2f5ff;
  color: #D2AE6C;
}
#contact form #contact-send:focus {
  outline: none;
}

footer {
  width: 100%;
  height: 150px;
  background: #0f1118;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p {
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #B6BAC6;
}
footer p a {
  text-decoration: none;
  color: #B6BAC6;
  cursor: pointer;
  transition: 0.4s;
}
footer p a:hover {
  color: #ef007d;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.5em 1em;
}
footer div img {
  margin: 0 1.5em;
  cursor: pointer;
  filter: brightness(0.6);
  transition: 0.4s;
}
footer div img:hover {
  filter: brightness(1);
}

/** SCROLLING POSITIONS **/
.scrolling-position {
  position: absolute;
  width: 100%;
  height: 20px;
  z-index: 100;
  left: 0;
  pointer-events: none;
}

#scroll-who-are-we {
  top: 28rem;
}

#scroll-what-we-do {
  top: 132rem;
}

#scroll-client-results {
  top: 239.5rem;
}

#scroll-our-industries {
  top: 283rem;
}

#scroll-contact {
  top: 534rem;
}

/** ANIMATIONS **/
@keyframes arrowDown {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0.8em);
  }
  100% {
    transform: translateY(0);
  }
}
/** MEDIA QUERIES **/
@media (max-width: 1450px) {
  nav ul {
    display: none;
  }
  nav ul.active {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  nav ul.active li {
    width: 100%;
    padding: 1em 0;
    margin: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    color: #0f1118;
  }
  nav .ham {
    display: inline-block;
    margin-right: -20px;
  }

  nav.mobile {
    flex-wrap: wrap;
    padding-top: 0.65em;
  }
}
@media (max-width: 800px) {
  .page-space {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
